// admin start
.admin {
    &-wrapper {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    &-main {
        width: calc(100% - 175px);
        margin-left: 175px;
    }
    // sidebar start
    &-sidebar {
        position: fixed;
        width: 175px;
        background-color: rgb(3, 3, 44);
        height: 100%;
        top: 0;

        .logo {
            padding: 20px;
            width: 100%;

            img {
                max-width: 100%;
            }
        }

        // links start
        .links {
            ul {
                margin: 0;
                padding: 0;
            
                li {
                    width: 100%;
                    display: block;
                    list-style: none;

                    a {
                        color: var(--surface-a);
                        padding: 10px 15px;
                        display: block;
                        width: 100%;
                    
                        &:hover {
                            background-color: var(--blue-700);
                            color:rgb(3, 3, 44);
                        }

                        i {
                            margin-right: 8px;
                            margin-top: 0;
                            float: left;
                        }

                        &.logout {
                            color: var(--blue-500);

                            &:hover {
                                color:rgb(3, 3, 44);
                            }
                        }
                    }

                }
            }


        }
        // links end
    }
    // sidebar end

    &-page {
        padding: 16px;
    }
}
// admin end