header {
    margin-top: 20px;
    margin-bottom: 40px;

    .logo {
        img {
            width: 160px;
        }
    }

    .search {
        padding-top: 30px;
    }

    .navigation {
        padding-top: 40px;
    }

    .tools {
        padding-top: 40px;

        .pi {
            margin-right: 16px;
        }
    }
}