<p-toast></p-toast>

<div class="admin-page" *ngIf="order">
    <p-card header="View Order" subheader="You can change order status here">

        <p-fieldset legend="Order Details" styleClass="mb-4" [toggleable]="true">
            <div class="grid">
                <div class="col-4">
                    <h5>Order Id</h5>
                    <p>{{ order.id }}</p>
                </div>
                <div class="col-4">
                    <h5>Order Date</h5>
                    <p>{{ order.dateOrdered | date: 'short' }}</p>
                </div>
                <div class="col-4">
                    <h5>Order Status</h5>
                    <p-dropdown [options]="orderStatuses" optionLabel="name" optionValue="id" (onChange)="onStatusChange($event)" [(ngModel)]="selectedStatus"></p-dropdown>
                </div>
                <div class="col-4">
                    <h5>Order Total Price</h5>
                    <p>{{ order.totalPrice | currency: 'USD' }}</p>
                </div>
            </div>
        </p-fieldset>

        <p-fieldset legend="Order Items" styleClass="mb-4" [toggleable]="true">
            <div class="grid mb-5">
                <div class="col-2">Name</div>
                <div class="col-2">Brand</div>
                <div class="col-2">Category</div>
                <div class="col-2">Price</div>
                <div class="col-2">Quantity</div>
                <div class="col-2">Subtotal</div>
            </div>

            <div class="grid mb-5" *ngFor="let item of order.orderItems">
                <div class="col-2">{{ item.product.name }}</div>
                <div class="col-2">{{ item.product.brand }}</div>
                <div class="col-2">{{ item.product.category?.name }}</div>
                <div class="col-2">{{ item.product.price | currency }}</div>
                <div class="col-2">{{ item.quantity }}</div>
                <div class="col-2">{{ item.product.price * item.quantity | currency }}</div>
            </div>
            <hr/>
            <div class="grid flex justify-content-end" style="color: green; font-weight: bold;">
                <div class="col-2">Total Price</div>
                <div class="col-2">{{ order.totalPrice | currency }}</div>
            </div>
        </p-fieldset>
        <p-fieldset legend="Order Address" styleClass="mb-4" [toggleable]="true">
            <div class="grid">
                <div class="col-4">
                    <h5>Order Address</h5>
                    <p>
                        {{ order.shippingAddress1 }}, <br/>
                        {{ order.shippingAddress2 }} <br/>
                        {{ order.city }} - {{ order.zip }} <br/>
                        {{ order.country }}.<br/>
                    </p>
                </div>

                <div class="col-4">
                    <h5>Customer Info</h5>
                    <p>{{ order.user.name | titlecase }}</p>
                </div>

                <div class="col-4">
                    <h5>Contact Info</h5>
                    <p>{{ order.phone }}</p>
                </div>
            </div>
        </p-fieldset>
    </p-card>
</div>